.main-biodata{
  width: 100%;
  min-height: 100vh;
  
}

.biodata {
  width: 85%;
  margin: 0 auto; 
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* ===== LEFT IMAGE SECTION ===== */
.biodataOne {
 width: 40%;
}

.biodataTwo{
  width: 57%;
 
}

.biodataImg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.step {
  display: flex;
  justify-content:space-between ;
}

.step p {
  color:#288855;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;

}

/* ===== RIGHT FORM SECTION ===== */
.form-container {
 width: 90%; 


  margin-bottom: 50px;
}

/* Form Title */
.form-title {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* Form Layout */
.bio-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* 2 columns */
.form-row {
  display: flex;
  width: 100%;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* Label styling */
.form-group label { 
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #484D53;

}

/* Inputs + Select */
  .form-group input,select {
   padding: 13px 14px;
   border: 1px solid #AFB4BF;
   border-radius: 6px;
   background-color: #ffffff;
   font-size: 15px;
   outline: none;
   height: 22px;
} 





  ::placeholder {
  color: #ADB5BF;
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;  
  line-height: 100%;
}

/* Focus */
input:focus,
select:focus {
  border-color: #F8B243;
  background-color: #ffffff;
}

/* Gender */
.gender-options {
  display: flex;
  gap: 30px;
  margin-top: 4px;
}

.gender-options label {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 5px; 
}

.continueBttn {
max-width: 281px;
height: 56px;
border-radius: 6px;
gap: 12px;
padding: 16px;
background: #288855;
color:#ffffff;
font-family: Mulish;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 24px;
border: none;
}

.bttn-container {
  display: flex;
align-items: center;
justify-content: center;
width:100%;
}








@media  (max-width: 768px) {

  .biodata {
    flex-direction: column;
    width: 90%;
  }

  .biodataOne,
  .biodataTwo {
    width: 100%;
  }

  .biodataTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
    width: 200%;
  }

  .step p {
    font-size: 16px;
  }
  .step {
    position: absolute;
    top:0;
    right: 50%;
    justify-content: space-between;
    
  }

  .step p{
    color:#000000;
  }

  .step img {
    display: none;
  }
  

  .biodataImg img {
    width: 70%;
    height: 70%;
    object-fit: scale-down;
    display: flex;
  justify-content: center;
  align-items: center;  
     
   
}


/* .biodataImg img {
 display: flex;
  justify-content: center;
  align-items: center;  
} */


.continueBttn {
  width: 100%;
}

.backBttn {
width: 50%;
}

.buttons-row {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
flex-direction: column;   
width:100%; 
}

.buttons-programme {
 display: flex;
align-items: center;
justify-content: center;
gap: 20px;
flex-direction: column;
width:100%;  
}

/* .form-group input, select{
  width: 100%;
} */

}

@media  (max-width: 518px) {
.biodataImg {
  margin-top: 40px;
}
}


