/* GENERAL PAGE LAYOUT */
.citizenship-container {
  width: 100%;
  max-width: 1150px;
  margin: 40px auto;
  display: flex;
  gap: 35px;
  font-family: sans-serif;
}

/* LEFT CARD WITH IMAGE */
.left-card {
  width: 416px;
  height: 655px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT BOX ON IMAGE */
.testimonial {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px;
  background: linear-gradient(180deg, transparent, rgba(0,0,0,0.6));
  color: white;
}
.testimonial p {
  font-size: 14px;
  margin-bottom: 10px;
}
.testimonial h3 {
  margin: 0;
  font-size: 16px;
}
.testimonial span {
  font-size: 13px;
  opacity: 0.9;
}

/* RIGHT FORM SECTION */
.right-section {
  flex: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 42px;
}

/* FORM GRID */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

/* FULL ROW INPUTS */
.full {
  grid-column: span 2;
}

/* INPUT BOX STYLES */
.input-box label {
  /* font-size: 14px;
  display: block;
  margin-bottom: 6px; */
font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #484D53;
  margin-bottom: 7px;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 46px;
  padding: 0 12px;
  border: 1px solid #bdd1e0;
  border-radius: 6px;
  font-size: 14px;
 
}

/* UPLOAD BOX */
.upload-box .upload-input {
  width: 100%;
  height: 46px;
  border: 1px solid #bdd1e0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}

/* hidden file but clickable */
.upload-input input[type="file"] {
  flex: 1;
  opacity: 0;
  cursor: pointer;
}

/* BUTTON INSIDE FILE BOX */
.upload-input button {
  background: #6fb9a6;
  border: none;
  height: 100%;
  width: 130px;
  color: white;
  cursor: pointer;
}

/* BOTTOM BUTTONS */
.buttons-row {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}




