/* .form-area {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 6px;
}

.form-area h2 {
  margin-bottom: 25px;
  font-size: 26px;
} */

/* inputs and labels */
/* label {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #484D53;
} */

 input {
   padding: 13px 14px;
   border: 1px solid #AFB4BF;
   border-radius: 6px;
   background-color: #ffffff;
   font-size: 15px;
   outline: none;
   height: 22px;
} 


/* text fields */



/* Placeholder style for SELECT */
select:invalid {
  color: #9098a4;
}

/* Two inputs in row */
.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

/* Radio section */
.radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Buttons */
.buttons-programme {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}















