.form-box-programme {
  flex: 1;
  background: white;
  padding: 30px;
}

.bio-form-programme {
  display: flex;
  flex-direction: column;
  gap:1px;
}

.form-title-programme {
  font-family: Mulish;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;

}

.label-programme {
  font-family: Mulish;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
color: #484D53;
}

select {
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #AFB4BF;
  margin-bottom: 18px;
}


.radio-group-programme {
  margin-bottom: 25px;
  display: flex;
  align-items:normal;
  gap:150px ;
  ;
}

.radio-group-programme label {
  margin-right: 20px;
  font-weight: normal;
}

/* Buttons */
.buttons-programme {
  display: flex;
  gap: 15px;
}

.backBttn {
width: 281px;
height: 56px;
border-radius: 6px;
gap: 12px;
padding: 16px;
background: transparent;
color:#288855;
font-family: Mulish;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 24px;
border:1px solid #288855;
}

.continue-btn {
  background: #5cb9aa;
  color: white;
  border: none;
}


