body{
   width: 100vw;
   margin: 0;
   box-sizing: border-box;
   background-repeat: no-repeat;
   padding: 0 ;
   font-family: Mulish; 
  

}

#root{
  width: 100%;
  height:100vh ;
  overflow-y: scroll;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.navbar {
  border-width: 1px;
  justify-content: space-around; 
  padding: 12px 10px 0 10px;
  opacity: 1;
  border: 1px solid;
  border-image-source: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) -37.66%, rgba(255, 255, 255, 0) 127.36%);
  box-shadow: 0px 0px 40px 0px #2424240D;
  display: flex;
}

/* .nav-left {
  width: 103.11111450195312;
  height: 72;
  gap: 8px;
  opacity: 1;
  padding: 8px;
} */

.nav-logo {   
  width: 87.11111450195312;
  height: 56;
  opacity: 1;
  ;

}

.nav-links {
  display: flex;
  list-style: none;
  width: 377;
  height: 56;
  gap: 24px;
  opacity: 1;
  padding: 8px;
 

}

.nav-links li .linkss  {
  cursor: pointer; 
  transition: color 0.2s ease; 
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color:#181818;
  text-decoration: none;
  
}


.nav-links li .linkss:hover {
  color: #288855;
}


 
.apply-btn {
  background-color: #288855;
  color: white;
  padding: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;  
  font-size: 16px;
  transition: 0.2s ease;
  height: 56px;
  width: 162px;
}

.apply-btn:hover {
  opacity: 0.9;
}


/* @media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
} */


.guide {
  display: flex;
  max-width: 622px; 
    height: 56px;
    padding: 16px 8px 16px 8px;
    gap: 4px;
    /* margin-left: 60px ;  */
    justify-content: flex-end;
    
  
}

.guide button {
  color:#32A96A;
  border: none;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 127;
  height: 24;
  background: transparent;
  opacity: 1;
}

  .arrowIcon{
  width: 16px;
  height: 16px;
  margin-top: 20px;



} 

.guide button:last-child {
  color: #181818;
}


.homeWriteup {  
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 1440px; */
  width: 100%;
  height: 507px;
  margin-top: 50px;
}

.writeUp h2 {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 14%;
  color: #181818;
  margin-bottom: 50px;
}

.writeUp p{
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
}

.homeImg {
  max-width: 480px;
  height: 507px;
  opacity: 1;
  border-radius: 10px;
  /* margin-left: 100px; */
}

.homeBttn  {
  width: 151;
  height: 56;
  opacity: 1;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;
  color: #288855;
  border: 1px solid #288855;
  background: transparent;
  display: flex;
  align-items: center;
}

.arrow-green{
  width: 100%;
}



.arrowGreen{
 width: 24;
  height: 23.83708381652832;
  opacity: 1;
  border-width: 2px;
}

.overview {
  /* width: 1200; */
  height: 376;
  opacity: 1;
  top: 839px;
  left: 120px;
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.overviewOne {
  /* width: 356; */
  height: 304;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 24px;

}

.overviewOne h6 {
  width: 356px;
  height: 56px;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 4px;
  gap: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #288855;
  background: #F6FDF9;
  border-left: 6px solid #F8B243;
  padding-left: 10px;
  box-sizing: border-box;

}

.overviewOne p {
 width: 356px;
  height: 45px;
  opacity: 1;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #288855;
  padding-left: 10px;
}

.overviewTwo {
  width: 820;
  height: 376;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  gap: 40px;
}


.overviewTwo h2 {
  width: 780;
  height: 96;
  opacity: 1;
  gap: 4px;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
}

.overviewTwo p {
  width: 780;
  height: 136;
  opacity: 1;
  gap: 16px;
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0%;
}

.overviewBttn {
    background: #288855;
    width: 354px;
    height: 56px;
    opacity: 1;
    gap: 12px;
    border-radius: 6px;
    padding: 16px;
    color: #FFFFFF;
    font-family: Mulish;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
}

footer {
  display: flex;
  width: 1440;
  height: 96;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  padding-top: 12px 88px 12px 88px;
  border-width: 1px; 
  background: #eee8e8;
  border: 1px solid;
  margin-top: 100px;
  border-image-source: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) -37.66%, rgba(255, 255, 255, 0) 127.36%);
  }

.footer-logo {
  width: 103.11111450195312;
  height: 72;
  opacity: 1;
  /* gap: 8px; */
  padding: 8px;
}

.footer-links {
width: 369;
height: 24;
opacity: 1;
gap: 24px;
display: flex;
}

.footer-links li {
  list-style-type: none;
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #3F3F3F;
}

.footer para {
  width: 302px;
  height: 40px;
  opacity: 1;
  gap: 8px;
  padding: 8px;
  

}

.footer p {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;;
  line-height: 24px;
  letter-spacing: 0%;
  color: #3F3F3F;
}


.w-full{
  width: 100% !important;
} 

.h-full{
  width: 95% !important;
} 














@media  (max-width: 768px) {

  .homeWriteup {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-top: 80px; */
  }

  .writeUp h2 {
    font-size: 30px;
  }

  .home-img {
    width: 80%;
    height: auto;

  }
  .arrow-green{
    width: 100%;
   display: flex;
   align-items: center;
   /* justify-content: space-around; */
  
  }

  .overview {
    /* width: 90%;
    margin: 60px auto; */
    flex-direction: column    ;
    align-items: center;
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin-right: 20px;
        margin-left: 20px;
  }

  .homeBttn {
    margin-bottom: 20px; 
    /* margin-left: 200px; */
    
  }

  
  .overviewTwo p{
   font-size: 18px; 
  }

  .overviewBttn{
    width: 300px;
  }

  .arrow-green{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nav-links{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}




